body{
    padding: 200px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 500px;
    margin: 50px;
    margin-top: 1px;
    border-radius: 5px;
}
.container{
    background-color: rgb(243, 237, 237);
    border-radius: 5px;
    padding: 1cm;
}
#head{
    background-color: rgb(123, 170, 51);
    padding: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size:1cm;
    text-align: center;
    text-shadow: 2px -2px gray;
    color: white ;

    font-family:  Arial, sans-serif;
}
y{
    font-size: initial;
}
.sc{
    padding: 30px;
    text-transform:capitalize;
    font-family:  Arial, sans-serif;
}
input[type="submit"]{
    padding: 10px 20px;
    border: none;
    background-color:rgb(123, 170, 51) ;
    border-radius: 5px;
    color: white;

    
}
input[type="submit"]:hover
{
    color: black;
    cursor: pointer;
    border: 2px solid green;
    width: 100%;
    

}
input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    border: 2px solid rgb(223, 214, 214) ;
}
input[type="text"]:hover,
input[type="email"]:hover,
select:hover,
textarea:hover{
    
    border: 2px solid rgb(124, 118, 118) ;
}
#send{
    text-align: center;
}